

body{
    background-color: rgb(3, 5, 48);
}

header{
    position: relative;
    height:200px;
    display: flex;
}



/* Styling and animation for the nav icon.*/
nav container {
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    cursor: pointer; 
    position: relative; 
    z-index: 10;
}

.bars {
    background-color: #666;
    height: 5px;
    width: 45px;
    margin: 4px auto;
    border-radius: 2px; 
    transition: all 0.7s ease; 
    position: absolute;
}

#bar1 {
    top: 8%; 
}

#bar2 {
    top: 38%;
    width: 35px; 
}

#bar3 {
    top: 70%; 
}

nav container:hover {
    background-color: #666;
}

nav container:hover .bars {
    background-color: red;
}

nav container:hover #bar1 {
    transform: translateY(16px) rotate(45deg); 
}

nav container:hover #bar2 {
    transform: translateY(0) rotate(90deg);
    width: 45px; 
}

nav container:hover #bar3 {
    transform: translateY(-16px); 
}

/* Styling of the logo */
.logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow: hidden;
}
#homeLogo{
    height: 150px;
}

main {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

mainChoose {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#designThumbnail {
    height: 80%;
    width: 80%;
    border: solid white 5px;
    color:white;
    text-align:center;
    font-size: 70px;
    font-family: 'Chakra Petch', sans-serif;
}

#scroll {
    width: 100%;
    height: 5%;
    border: solid white 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.mainButton{
    border: white solid 3px;
    min-height: 10%;
    min-width: 5%;
    cursor: pointer;
    position: relative;
}
.mainButton::before, .mainButton::after {
    content: '';
    position: absolute;
    top: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
}
#leftButton::before {
    border-right-color: white;
    border-width: 25px 50px 25px 0;
    left: 20%;
    transform: translateY(-50%);
}

#rightButton::before {
    border-left-color: white;
    border-width: 25px 0 25px 50px;
    right: 20%;
    transform: translateY(-50%);
}
.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-image: url('IMAGES/face_1.PNG');
    background-size: 90%;
    background-repeat: no-repeat;
    overflow: visible;
    height: 115px;
    width: 80px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 50px;
    height: 60px;
    background-image: url('IMAGES/face_1.png');
    border-radius: 50%;
    cursor: pointer;
}

hiddenMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
hiddenMenu ul {
    z-index: 2;
    font-size: 50px;
    display: flex;
    color: white;
    flex-direction: column;
}

aboutMe {
    color: white;
    font-family: 'Rethink Sans', sans-serif;
    text-align: center;
    
}